@import "tailwindcss";

:root {
  /* Domyślne ciemne, krwiste tło strony */
  --background: #0f0a0a;
  --foreground: #bcbbc2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Wymuszenie ciemnego motywu dla całej witryny */
html,
body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
}

/* Stylizacja paska przewijania (Scrollbar) pod klimat strony */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0b0d;
}

::-webkit-scrollbar-thumb {
  background: #2b0d10;
  border: 1px solid #c59b27;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c59b27;
}